<%- include ('../partials/header');%>

<div class = "img" style="height: 300px;">
    <h3 style="margin: 10px; color: white;"><%= day %> </h3>
    <div class = "list">
        
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href ="users">Users</a></li>
            <li> <a href="schedules">Schedules</a></li>
            <li><a href="usersnew"> User Add</a> </li>
            <li><a href="schedulesnew"> Schedule</a> </li>
        </ul>
    </div>
</div>

<table style="color: black; margin-top: 10px;">
    <tr>
        <tr>
            <th><h3>User_id</h2></th>
            <th><h3>Day</h2></th>
            <th><h3>Start_At</h2></th>
            <th><h3>End_At</h2></th>
        </tr>
            <% schedules.forEach(schedules => { %>
        <tr>
          <td><%= schedules.user_id %> </td>
       
       
          <td><%=  schedules.day %> </td>
        
       
          <td><%= schedules.start_at %> </td>
        
       
          <td ><%= schedules.end_at %> </td>
        </tr>
        <% }); %> 
    </tr>
</table>

<%- include ('../partials/footer');%>