<%- include ('../partials/header');%>



    

<div class = "img" style="height: 300px;">
    <h3 style="margin: 10px; color: white;"><%= day %> </h3>
    <div class = "list">
        
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href ="users">Users</a></li>
            <li> <a href="schedules">Schedules</a></li>
            <li><a href="usersnew"> User Add</a> </li>
            <li><a href="schedulesnew"> Add Schedule</a> </li>
        </ul>
    </div>
</div>
<div>
    <h2 style="color:blue ; padding: 2px ; margin : 10px">List Of all the users</h2>
</div>

<div class = "overflow-auto">
<table style="color: black; margin-top: 10px;">
    <tr>
        <tr>
            <th><h3>FirstName</h3></th>
            <th><h3>Lastname</h3></th>
            <th><h3>Email</h3></th>
            <th><h3>Password</h3></th>
        </tr>
            <% users.forEach(users => { %>
        <tr>
          <td><%= users.firstname %> </td>
       
       
          <td><%= users.lastname %> </td>
        
       
          <td><%= users.email %> </td>
        
       
          <td ><%= users.password %> </td>
        </tr>
        <% }); %> 
    </tr>
</table>
</div>
<div class="position-relative">
<button type="button" class="btn btn-outline-dark "style="margin: 10px auto;" ><a  href= "/usersnew" >Create New User</a></button>
</div>


    




<%- include ('../partials/footer');%>